{% load static wagtailcore_tags wagtailuserbar menus_tags cache %}
{% get_menu 'main' as navigation %}
<html lang="es">
<head>
    <meta charset="utf-8"/>
    <title>
        {% block title %}
        {% if page.seo_title %}{{ page.seo_title }}{% else %}{{ page.title }}{% endif %}
        {% endblock %}
        {% block title_suffix %}
        {% wagtail_site as current_site %}
        {% if current_site and current_site.site_name %}- {{ current_site.site_name }}{% endif %}
        {% endblock %}
    </title>
    <meta name="description" content=""/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    {# Global stylesheets #}
    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap" rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="{% static 'lib/animate/animate.min.css' %}" rel="stylesheet">
    <link href="{% static 'lib/owlcarousel/assets/owl.carousel.min.css' %}" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <!-- Wagtail custom css Stylesheet-->
    <link rel="stylesheet" type="text/css" href="{% static 'css/inmobiliaria_store.css' %}">

    {% block extra_css %}
    {# Override this in templates to add extra stylesheets #}
    {% endblock %}
</head>

<body class="{% block body_class %}{% endblock %}">
{% wagtailuserbar %}
<div class="container-xxl bg-white p-0">
    <!-- Spinner Start -->
    <div id="spinner"
         class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
        <div class="spinner-border text-yellow-brand" style="width: 3rem; height: 3rem;" role="status">
            <span class="sr-only">Cargando...</span>
        </div>
    </div>
    <!-- Spinner End -->


    <!-- Navbar Start -->
    <div class="container-fluid nav-bar bg-transparent">
        <nav class="navbar navbar-expand-lg bg-white navbar-light py-0 px-4">
            <a href="/" class="navbar-brand d-flex align-items-center text-center">
                <div class=" p-2 me-2">
                    <img class="img-fluid" src="{% static 'images/logo/logo_01.png' %}" alt="Logo"
                         style="max-width: 220px;">
                </div>
            </a>
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <div class="navbar-nav ms-auto">
                    <a href="/"
                       class="nav-item nav-link {% if request.get_full_path == '/'  %} active {% endif %}">Inicio</a>
                    {% for item in navigation.nav_button.all %}
                    {% cache 3600 nav_item %}
                    <a href="{{ item.link }}" {% if item.abrir_en_nueva_ventana %} target="_blank" {% endif %}
                       class="nav-item nav-link{% if item.link == request.get_full_path  %} active {% endif %}">{{ item.title }}</a>
                    {% endcache %}
                    {% endfor %}
                </div>
            </div>
        </nav>
    </div>
    <!-- Navbar End -->

    {% block content %}

    {% endblock %}
    <!-- Footer Start -->
    {% cache 3600 footer %}
    <div class="container-fluid bg-dark text-white-50 footer pt-2 mt-5 wow fadeIn" data-wow-delay="0.1s">
        <div class="container py-5">
            <div class="row g-5">
                <div class="col-lg-3 col-md-6">
                    <h5 class="text-white mb-4">Síguenos en</h5>
                    <div class="d-flex pt-2">
                        {% if settings.social_media_setting.SocialMedia.facebook %}
                        <a class="btn btn-outline-light btn-social"
                           href="{{settings.social_media_setting.SocialMedia.facebook}}" target="_blank">
                            <i class="fab fa-facebook-f"></i></a>
                        {% endif %}
                        {% if settings.social_media_setting.SocialMedia.instagram %}
                        <a class="btn btn-outline-light btn-social"
                           href="{{settings.social_media_setting.SocialMedia.instagram}}" target="_blank">
                            <i class="fab fa-instagram"></i></a>
                        {% endif %}
                        {% if settings.social_media_setting.SocialMedia.youtube %}
                        <a class="btn btn-outline-light btn-social"
                           href="{{settings.social_media_setting.SocialMedia.youtube}}" target="_blank">
                            <i class="fab fa-youtube"></i></a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="copyright">
                <div class="row">
                    <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                        &copy; <a class="border-bottom" href="/">Tienda Inmobiliaria</a>, Todos los derechos reservados.

                        <!--/*** This template is free as long as you keep the footer author’s credit link/attribution link/backlink. If you'd like to use the template without the footer author’s credit link/attribution link/backlink, you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". Thank you for your support. ***/-->
                        Desarrollado por 8Bit Agencia Creativa.
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endcache %}
    <!-- Footer End -->
</div>

{# Global javascript #}

<!-- JavaScript Libraries -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="{% static 'lib/wow/wow.min.js' %}"></script>
<script src="{% static 'lib/easing/easing.min.js' %}"></script>
<script src="{% static 'lib/waypoints/waypoints.min.js' %}"></script>
<script src="{% static 'lib/owlcarousel/owl.carousel.min.js' %}"></script>

<!-- Template Javascript -->
<script src="{% static 'js/main.js' %}"></script>

<!--Wagtail custom Js-->
<script type="text/javascript" src="{% static 'js/inmobiliaria_store.js' %}"></script>

{% block extra_js %}
{# Override this in templates to add extra javascript #}
{% endblock %}
</body>
</html>
