{% extends 'base.html' %}

{% load static wagtailcore_tags wagtailimages_tags humanize %}

{% block content %}
<!-- Shop Detail Start -->
<div class="container-fluid ">
    <div class="row px-xl-5 mt-5">
        <div class="col-md-7 animated fadeIn">
            <div class="owl-carousel header-carousel">
                {% for loop_cycle in self.imagenes_inmueble.all %}
                {% image loop_cycle.imagen_inmueble fill-1080x760 as img%}
                <div class="owl-carousel-item">
                    <img class="img-fluid" src="{{img.url}}" alt="">
                </div>
                {% endfor %}
            </div>
        </div>


        <div class="col-lg-5 pb-5 mt-2">
            <h3 class="font-weight-semi-bold">{{self.titulo_inmueble}}</h3>
            <h3 class="font-weight-semi-bold mb-4 price-color-text">${{self.precio_inmueble|intcomma }}</h3>
            {% if self.area_inmueble%}
            <div class="d-flex mb-4">
                <i class="fa fa-ruler icon-color"></i><h6 class="detail-property-subtitle">Area del inmueble:</h6>
                <p class="mb-0 detail-text"> {{ self.area_inmueble}} metros</p>
            </div>
            {% endif %}
            {% if self.numero_habitaciones %}
            <div class="d-flex mb-4">
                <i class="fa fa-door-open icon-color"></i><h6 class="detail-property-subtitle">Numero de
                habitaciones:</h6>
                <p class="detail-text mb-0 mr-3">{{ self.numero_habitaciones }}</p>
            </div>
            {% endif %}
            {% if self.numero_banos %}
            <div class="d-flex mb-4">
                <i class="fa fa-bath icon-color"></i><h6 class="detail-property-subtitle">Numero de baños:</h6>
                <p class="detail-text mb-0 mr-3">{{ self.numero_banos }}</p>
            </div>
            {% endif %}
            {% if self.antiguedad_del_inmueble%}
            <div class="d-flex mb-4">
                <i class="fa fa-history icon-color"></i><h6 class="detail-property-subtitle">Año de construccion:</h6>
                <p class="detail-text mb-0 mr-3">{{self.antiguedad_del_inmueble}}</p>
            </div>
            {% endif %}
            {% if self.fecha_publicacion%}
            <div class="d-flex mb-4">
                <i class="fa fa-calendar-alt icon-color"></i><h6 class="detail-property-subtitle">Publicado:</h6>
                <p class="detail-text mb-0 mr-3">{{self.fecha_publicacion}}</p>
            </div>
            {% endif %}
            {% if self.numero_contacto%}
            <div class="d-flex mb-4">
                <i class="fa fa-phone-alt icon-color"></i><h6 class="detail-property-subtitle">Contacto:</h6>
                <p class="detail-text mb-0 mr-3">
                    <a class="btn btn-custom btn-sm" href="tel:(+57){{self.numero_contacto}}">
                        {{self.numero_contacto}}</a>
                </p>
            </div>
            {% endif %}
            <div class="d-flex">
                <p class="detail-property-subtitle mr-2">Compartir en:</p>
                <div class="d-inline-flex">
                    <a class="text-dark mx-2"
                       href="http://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }}"
                       target="_blank">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                    <a class="text-dark mx-2"
                       href="https://wa.me/send?text=http://{{ request.build_absolute_uri }}"
                       data-action="share/whatsapp/share" target="_blank">
                        <i class="fab fa-whatsapp"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row align-items-end category-list">
    <div class="col-lg-6 text-start text-lg-end wow slideInRight" data-wow-delay="0.1s">
        <ul class="nav nav-pills d-inline-flex justify-content-end">
            <li class="nav-item category-margin">
                <i class="fa fa-circle icon-color py-3"></i><small class="category-title">Categoria:</small>
            </li>
            <li class="nav-item category-margin">
                {% if self.categoria%}
                {% for cat in self.categoria.all %}
                <p class="category-subtitle py-3">{{ cat.nombre_categoria}}</p>
                {% if not forloop.last %}{% endif %}
                {% endfor %}
                {% endif %}
            </li>
            <li class="nav-item category-margin">
                <i class="fa fa-map-marker icon-color py-3"></i><small
                    class="category-title">Ubicación:</small>
            </li>
            <li class="nav-item category-margin">
                {% if self.ubicacion %}
                {% for u in self.ubicacion.all%}
                <p class="category-subtitle py-3">{{ u.nombre_ubicacion}}</p>
                {% if not forloop.last %}{% endif %}
                {% endfor %}
                {% endif %}
            </li>
            <li class="nav-item category-margin">
                <i class="fa fa-file icon-color py-3"></i><small class="category-title">Mercado:</small>
            </li>
            <li class="nav-item category-margin">
                {% if self.mercado%}
                {% for m in self.mercado.all%}
                <p class="category-subtitle py-3">{{ m.nombre_mercado}}</p>
                {% if not forloop.last %}{% endif %}
                {% endfor %}
                {% endif %}
            </li>
        </ul>
    </div>
</div>
<div class="row px-xl-5 px-md-5 px-sm-5">
    <div class="col">
        <div class="tab-content">
            <div class="tab-pane fade show active" id="tab-pane-1">
                <h4 class="mb-3">Descripción del inmueble</h4>
                {% if self.descripcion_inmueble %}
                <p>{{ self.descripcion_inmueble | richtext}}</p>
                {% endif %}
            </div>
        </div>
    </div>
</div>
<!-- Shop Detail End -->


{% endblock %}