{% extends 'base.html' %}

{% load static wagtailcore_tags wagtailimages_tags humanize %}

{% block content %}


<!-- Header Start -->
<div class="container-fluid header bg-white p-0">
    <div class="row g-0 align-items-center flex-column-reverse flex-md-row">
        {% for post in posts|slice:"1" %}
        <div class="col-md-12 filter-title-space">
            {% for u in post.ubicacion.all|slice:"1" %}
            <h1 class="display-5 animated fadeIn mb-4">Filtro por: {{ u.nombre_ubicacion }} </h1>
            {% endfor %}
        </div>
        {% endfor %}
    </div>
</div>
<!-- Header End -->


<!-- Search Start -->
<div class="container-fluid search-bar-color mb-5 wow fadeIn" data-wow-delay="0.1s" style="padding: 35px;">
    <div class="container">
        <div class="row g-2">
            <div class="col-md-10">
                <div class="row g-2">
                    <div class="col-md-12">
                        <form action="{% url 'search' %}" method="get">
                            <input type="text" class="form-control border-0 py-3" name="query" value="{{ search_query}}"
                                   placeholder="Encontrar Propiedad...">
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <button class="btn btn-dark border-0 w-100 py-3" type="submit">Buscar</button>
            </div>
        </div>
    </div>
</div>
<!-- Search End -->


<!-- Property List Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="tab-content">
            <div id="tab-1" class="tab-pane fade show p-0 active">
                <div class="row g-4">
                    {% if posts %}
                    {% for post in posts %}
                    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                        <div class="property-item rounded overflow-hidden">
                            <div class="position-relative overflow-hidden">
                                {% image post.main_image fill-600x300 %}
                                <a href="{% pageurl post %}"><img class="img-fluid" src="{{post.main_image.url}}"></a>
                                {%for cat in post.categoria.all %}
                                <div class="bg-primary rounded item-category-color position-absolute start-0 top-0 m-4 py-1 px-3">
                                    {{ cat.nombre_categoria }}
                                </div>
                                {% endfor %}
                                {%for m in post.mercado.all %}
                                <div class="bg-white rounded-top item-text-color position-absolute start-0 bottom-0 mx-4 pt-1 px-3">
                                    {{ m.nombre_mercado }}
                                </div>
                                {% endfor %}
                            </div>
                            <div class="p-4 pb-0">
                                <h5 class="item-text-color mb-3">${{post.precio_inmueble|intcomma}}</h5>
                                <a class="d-block h5 mb-2" href="{% pageurl post %}">{{post.titulo_corto}}</a>
                                {%for u in post.ubicacion.all %}
                                <p><i class="fa fa-map-marker-alt text-primary icon-color me-2"></i>
                                    {{ u.nombre_ubicacion }}</p>
                                {% endfor %}
                            </div>
                            <div class="d-flex border-top">
                                {% if post.area_inmueble %}
                                <small class="flex-fill text-center border-end py-2">
                                    <i class="fa fa-ruler-combined text-primary icon-color me-2"></i>
                                    {{ post.area_inmueble}}</small>
                                {% endif %}
                                {% if post.numero_habitaciones %}
                                <small class="flex-fill text-center border-end py-2">
                                    <i class="fa fa-bed text-primary  icon-color me-2"></i>
                                    {{ post.numero_habitaciones}}</small>
                                {% endif %}
                                {% if post.numero_banos %}
                                <small class="flex-fill text-center py-2">
                                    <i class="fa fa-bath text-primary icon-color me-2"></i>
                                    {{ post.numero_banos }}</small>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    {% else %}
                    <div class="col-md-6 p-5 mt-lg-5">
                        <h1 class=" animated fadeIn mb-4">Ítems No encontrados </h1>
                        <h4 class=" animated fadeIn mb-4">Lo sentimos! No hay elementos aun en esta ubicación.</h4>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Property List End -->

<!--Paginator-->


<nav aria-label="Page navigation example">
    {% if posts.paginator.num_pages > 1%}
    <ul class="pagination justify-content-center">
        {% if posts.has_previous %}
        <li class="page-item disabled">
            <a class="page-link" href="?page={{ posts.previous_page_number }}" tabindex="-1" aria-disabled="true">Anterior</a>
        </li>
        {% endif %}
        {% for page_num in posts.paginator.page_range%}
        <li class="page-item {% if page_num == posts.number %} active {% endif %}">
            <a class="page-link" href="?page={{ page_num }}">{{ page_num }}</a>
        </li>
        {% endfor %}
        {% if posts.has_next %}
        <li class="page-item">
            <a class="page-link" href="?page={{ posts.next_page_number }}">Siguiente</a>
        </li>
        {% endif %}
    </ul>
    {% endif %}
</nav>

{% endblock %}