{% extends 'base.html' %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block content %}
<div class="container-fluid header bg-white p-0">
    <div class="row g-0 align-items-center flex-column-reverse flex-md-row">
        <div class="col-md-6 p-5 mt-lg-5">
            <h4 class="animated fadeIn mb-4">¡Lo sentimos! La ubicación no existe. </h4>
        </div>
        <div class="col-md-6 animated fadeIn">
            <img class="img-fluid" src="/static/img/header.jpg" alt="">
        </div>
    </div>
</div>

{% endblock %}