.text-primary-brand {
    color: #002c39 !important
}

.text-secondary-brand {
    color: #f47e20 !important
}

.text-yellow-brand {
    color: #fab51b !important
}

.link-custom {
    color: #f47e20 !important;
    text-decoration: none !important;
}

.price-color-text {
    color: #f47e20;
}

.detail-property-subtitle {
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    line-height: 1.0;
    color: #0E2E50;
    margin-left: 10px;
}

.detail-text {
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    line-height: 1.0;
    color: #0E2E50;
    margin-left: 10px;
}

.icon-color {
    color: #fab51b !important;
}

.btn-custom {
    color: #FFFFFF;
    background-color: #fab51b;
}

.btn-custom:hover {
    color: #0E2E50;
    border: none;
    border-radius: 10px;
}

.btn-custom:focus {
    outline-color: transparent;
    outline-style: solid;
    box-shadow: 0 0 0 4px #ced5dc;
}

.category-title {
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    line-height: 1.0;
    color: #0E2E50;
    margin-left: 10px;
    font-size: 15px;
}

.category-subtitle {
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    line-height: 1.0;
    color: #0E2E50;
    font-size: 15px;
}

.category-margin {
    margin-right: 0.5rem;
}

@media only screen and (min-width: 889px) and (min-width: 720px) {
    .category-title .category-subtitle .category-margin {
        font-size: 10px !important;
        margin-right: -2.5rem !important;
    }
}

.search-bar-color {
    background-color: #fab51b !important;
}

.btn-filter {
    color: #FFFFFF;
    background-color: #0E2E50;
    border-color: #0E2E50;
}

.btn-filter:hover {
    color: #fab51b;
    border: none;
    border-radius: 10px;
}

.btn-filter:focus {
    outline-color: transparent;
    outline-style: solid;
    box-shadow: 0 0 0 4px #fab51b;
}

.item-text-color {
    color: #0E2E50 !important;
}

.item-category-color {
    background-color: #0E2E50 !important;
    color: #FFFFFF;
}

.property-item .border-top {
    border-top: 1px dashed rgba(14, 46, 80, 1) !important;
}

.property-item .border-end {
    border-right: 1px dashed rgba(14, 46, 80, 1) !important;
}

.h5:hover {
    color: #fab51b;
    transition: 0.4s;
}

.page-item.active .page-link {
    z-index: 3;
    color: #fff;
    background-color: #fab51b;
    border-color: #fab51b;
}

.page-link {
    position: relative;
    display: block;
    color: #fab51b;
    background-color: #fff;
    border: 1px solid #dee2e6;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.page-link:hover {
    color: #0E2E50;
}

.page-link:focus {
    outline-color: transparent;
    outline-style: solid;
    box-shadow: 0 0 0 4px #0E2E50;
}

.filter-title-space {
    margin-top: 160px;
    margin-bottom: 30px;
    margin-left: 30px;
}

.cat-color {
    background-color: #ced5dc !important;
}

a {
    color: #0E2E50;
    text-decoration: none;
}

a:hover {
    color: #566c84 !important;
}

